.Item {
  max-width: 210px;
  max-height: 240px;
  background: white;
  border-color: #dedede;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}

.Item img {
  height: 150px;
  width: 210px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Quantity {
  color: #0dd2a3;
  font-size: 0.9em;
  font-weight: lighter;
}

.Item h5 {
  position: relative;
  margin-top: 20px;
  top: -5px;
  left: 10px;
  font-weight: bold;
}
.material-icons-two-tone {
  filter: invert(70%) sepia(15%) saturate(7499%) hue-rotate(118deg)
    brightness(98%) contrast(90%);
}
