.NavBar {
  box-sizing: content-box;
  height: calc(70px - 2 * 10px);
  width: calc(100% - 2 * 20px);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
  z-index: 10;
}

.NavBar > .logo {
  margin-right: 100px;
}
.NavBar > .logo > img {
  height: 100%;
  max-width: 150px;
  object-fit: contain;
  object-position: left center;
}

.NavBar > .body > .searchBar > #search-list {
  position: relative;
  top: 160px;
  right: 264px;
  list-style-type: none;
  max-width: 1000px;
  width: 100%;
  padding: 0px;
}

.NavBar > .body {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex: 1;
}
.NavBar > .body i {
  color: #0dd2a3;
}
.NavBar > .body > .button.notifications {
  height: 100%;
  width: 50px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: background 0.2s;
}
.NavBar > .body > .button.notifications:hover,
.NavBar > .body > .button.notifications:active {
  background: #f5f5f5;
  transition: background 0.2s;
}

.NavBar > .body > .button.goBack {
  height: 100%;
  width: 50px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: background 0.2s;
  background: #f5f5f5;
  margin-right: 10px;
}
.NavBar > .body > .button.goBack:hover,
.NavBar > .body > .button.goBack:active {
  background: #f5f5f5;
  transition: background 0.2s;
}

.NavBar > .body .searchBar {
  flex: 1;
  height: calc(100% - 2 * 1px);
  width: calc(100% - 2 * 8px);
  padding: 0 8px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #ffffff;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.NavBar > .body .searchBar > input {
  border: none;
  outline: none;
  font-size: 11pt;
  font-weight: 600;
  width: 100%;
  color: #000;
  padding-bottom: 4px;
  background: transparent;
  transition: color 0.2s;
}
.NavBar > .body .searchBar > input::placeholder {
  color: #aaa;
  font-weight: 400;
}
.NavBar > .body .searchBar > input:hover,
.NavBar > .body .searchBar > input:focus {
  color: #15d1a2;
  transition: color 0.2s;
}
.NavBar > .body .searchBar > datalist {
  padding: 10px;
}

.NavBar .searchItem {
  display: flex;
  align-content: center;
  padding: 5px;
  background: #ffffff;
  z-index: 100;
}
.NavBar .searchItem > img {
  border: 1px solid #eeeeee;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  object-fit: cover;
  margin-right: 15px;
}
.NavBar .searchItem > span {
  font-size: 12pt;
  color: #2c2c2c;
  font-weight: 500;
}

.NavBar .searchItem {
  border-bottom: solid #15d1a2 1px;
  max-width: 220;
  width: 100%;
}
