@import "config";

.RequestPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;

  & > .inner {
    width: calc(100% - 2 * 10px);
    height: calc(100% - 2 * 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


    & > .card{
      width: 100%;
      max-width: 800px;
      height: auto;
      max-height: 800px;
      margin: auto;
      background: #ffffff;
      border-radius: 4px;



      & > .container{
        width: calc(100% - 2 * 30px);
        max-height: calc(100vh -  2 * 30px);
        padding: 30px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        & > *{
          flex-shrink: 0;
        }

        & > .header{
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          h2{
            margin: 0;
            flex: 1;
            font-weight: 600;
          }
          .button.return{
            margin-left: auto;
            @include big-button;
            width: auto;
            height: calc(60px - 2 * 10px);
          }
        }

        & > p{
          font-size: 12pt;
          margin: 0;
          font-weight: 300;
          line-height: 1.4;
          color: #aaa;
        }

        & > form{
          padding-top: 20px;
          padding-bottom: 20px;
          & > .field{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;
            & > label{
              font-size: 12pt;
              color: #2c2c2c;
              margin-bottom: 10px;
            }
            & > input{
              padding: 20px 10px;
              width: calc(100% - 2 * 10px);
              background: #f5f5f5;
              color: #111111;
              border-radius: 2px;
              font-size: 11pt;
              font-weight: 400;
              outline: none;
              border: none;

              &::placeholder{
                color: #aaa;
              }
            }

          }
        }

        & > .footer{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          margin-top: 20px;
          & > .button{
            grid-column: span 1;
            @include big-button;
            &.submit{
              background: $colorPrimary;
              & > .content > p{color: #fff;}
              &:hover, &:active{
                background: $colorSecondary;
              }
            }
          }
        }

      }
    }

  }
}


@media #{$top-mobile-big}{
  .RequestPopup {
    & > .inner {
      & > .card {
        & > .container {
          width: calc(100% - 2 * 15px);
          max-height: calc(100vh -  2 * 20px);
          padding: 20px 15px;
          & > .header{
            .button.return{
              display: none;
            }
          }
        }
      }
    }
  }
}
