@import "config";
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: $backgroundColor;
  font-family: 'CircularStd', sans-serif;
  font-weight: 600;

  & > .NavBar{
    flex-shrink: 0;
  }

  & > .App-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    position: relative;

    & > .SideMenu{}
    & > .Main{}
    & > .SideMenu{}
  }


}

