@import "config";
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: $backgroundColor;
  font-family: 'CircularStd', sans-serif;
  font-weight: 600;

  & > .NavBar{
    flex-shrink: 0;
  }

  & > .App-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    position: relative;

    .breadcrumbs{
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      opacity: 1;
      transition: opacity 0.2s;
      p{
        font-size: 12pt;
        margin: 0;
      }
      i{
        font-size: 18pt;
        margin: 2px 0 0 0;
        color: $colorPrimary;
      }

      & > p{
        margin: 0;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }


      & > div{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        & > i{
          color: $colorPrimary;
          font-size: 14pt;
          line-height: 0.5;
        }
        & > p{
          padding: 0;
          margin: 0;
        }

        &:hover{
          & > p{
            text-decoration: underline;
          }
        }

        &:last-of-type{
          & > p{
            text-decoration: none !important;
            color: $colorPrimary;
          }
        }
      }

    }

    & > .SideMenu{}
    & > .Main{}
    & > .SideMenu{}
  }

  .sectionTitle{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    & > i{
      color: #2c2c2c;
      font-size: 18pt;
      margin-right: 6px;
    }
    & > p{
      color: #2c2c2c;
      font-size: 14pt;
      font-weight: 700;
    }
  }


}


@media #{$top-tablet-big} {
  & > .App-container{
    z-index: $zIndex-AppContainer-mobile;
  }
}
