$colorPrimary : #0dd2a3;
$colorSecondary: #08A68B;
$red : #F44336;
$statistic : #f9e816;
$backgroundColor : #FBFDFF;
$navHeight : 70px;


$sideMenuWidth : 240px;
$sideBarWidth : 360px;
$stationIndicatorWidth: 60px;

$stationBorderRadius: 4px;
$stationBorderRadiusMini: 2px;

$col-lg-extended : 1100px;
$col-lg : 992px;
$col-md: 768px;
$col-sm : 500px;


$tablet-big: "all and (max-width : #{$col-lg-extended}) and (min-width : #{$col-lg  + 1})";
$tablet : "all and (max-width : #{$col-lg}) and (min-width : #{$col-md  + 1})";
$mobile-big: "all and (max-width : #{$col-md}) and (min-width : #{$col-sm  + 1})";
$mobile : "all and (max-width : #{$col-sm})";

$top-tablet-big : "all and (max-width : #{$col-lg-extended})";
$top-tablet : "all and (max-width : #{$col-lg})";
$top-mobile-big: "all and (max-width : #{$col-md})";
$bottom-mobile-big: "all and (min-width : #{$col-md + 1})";
$top-mobile : "all and (max-width : #{$col-sm})";
$top-micro : "all and (max-width : 361px)";


$zIndex-search-list : 3;
$zIndex-SideBar : 4;
$zIndex-NavBar : 2;

$zIndex-AppContainer-mobile : 3;
$zIndex-NavBar-mobile : 4;
$zIndex-SideBar-mobile : 7;



@mixin big-button{
  width: calc(100% - 2 * 15px);
  padding: 10px 15px;
  height: calc(80px - 2 * 10px);
  border-radius: 4px;
  border: none;
  background: #eee;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  transition: background 0.2s;
  cursor: pointer;

  &:hover, &:active, &:focus{
    background: #ddd;
    transition: background 0.2s;
    outline: none;
    -webkit-appearance: none;
  }

  & > .content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;

    & > p{
      font-size: 12pt;
      color: #2c2c2c;
      font-weight: 700;
      margin: 0;
    }
    & > span{
      margin: 5px 0 0 0;
      font-size: 9pt;
      color: #2c2c2c;
      font-weight: 400;

    }
  }

  & > i{
    font-size: 18pt;
    color: #888;
    margin-right: 1px;
  }

  @media #{$top-mobile-big} {
    width: calc(100% - 2 * 8px);
    padding: 10px 8px;

    & > .content{
      & > p{
        font-size: 11pt;
      }
      & > span{
        margin: 5px 0 0 0;
        font-size: 8pt;


      }
    }
  }
}


@mixin medium-button($backgroundColor, $textColor){
  width: calc(100% - 2 * 15px);
  padding: 6px 15px;
  height: calc(40px - 2 * 6px);
  border-radius: 4px;
  border: none;
  background: $backgroundColor;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  transition: background 0.2s;
  cursor: pointer;



  &:hover, &:active, &:focus{
    background: darken($backgroundColor, 5%);
    transition: background 0.2s;
    outline: none;
    -webkit-appearance: none;
  }

  & > .content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;

    & > p{
      font-size: 10pt;
      color: $textColor;
      font-weight: 600;
      margin: 0;
    }


    & > span{
      margin: 3px 0 0 0;
      font-size: 9pt;
      color: $textColor;
      font-weight: 400;

    }
  }


  & > i{
    font-size: 18pt;
    color: $textColor;
    margin-right: 1px;
  }

  @media #{$top-mobile-big} {
    width: calc(100% - 2 * 8px);
    padding: 10px 8px;

    & > .content{
      & > p{
        font-size: 10pt;
      }
      & > span{
        margin: 5px 0 0 0;
        font-size: 8pt;


      }
    }
  }
}







/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Black.eot');
  src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BlackItalic.eot');
  src: url('../fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BoldItalic.eot');
  src: url('../fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-MediumItalic.eot');
  src: url('../fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-BookItalic.eot');
  src: url('../fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

*  {
  box-sizing: content-box;
}