@import "config";

.Main {
  flex: 1;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media #{$top-tablet} {
  .Main{
    height: calc(100% - #{$navHeight});
    padding-top: $navHeight;
  }
}
