@import "config";

.Main {
  flex: 1;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 0;
    background: transparent;
  }
}

@media #{$query-toggle-menu} {
  .Main{
    height: calc(100% - #{$navHeight});
    padding-top: $navHeight;
  }
}
