@import "config";

.NavBar {
  box-sizing: content-box;
  height: calc(#{$navHeight} - 2 * 10px - 1px);
  width: calc(100% - 2 * 20px);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #eee;
  z-index: 10;
  flex-shrink: 0;


  & > .logo {
    margin-right: 100px;
    img {
      height: 100%;
      max-width: 150px;
      object-fit: contain;
      object-position: left center;
    }
  }

  & > .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex: 1;

    i {
      color: $colorPrimary;
    }

    & > .button {
      background: #fff;
      outline: none;
      height: 50px;
      width: calc(50px - 2 * 1px);
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
      cursor: pointer;
      transition: background 0.2s;
      position: relative;
      flex-shrink: 0;

      &:hover,
      &:active {
        background: #f9f9f9;
        transition: background 0.2s;
      }
      &:focus {
        outline-color: transparent;
        outline-style: none;
      }

      &.notifications {
        &[data-warning="true"] {
          &:after {
            position: absolute;
            right: -5px;
            top: -5px;
            z-index: 1;
            content: " ";
            background: $red;
            height: 14px;
            width: 14px;
            border-radius: 50%;
          }
        }
      }
      &.returnToStation {
        margin-right: auto;
        width: auto;
        padding: 0 15px 0 10px;
        transition: border 0.2s;
        & > i {
          color: #2c2c2c;
          margin-right: 10px;
        }
        & > .content{
          & > p{
            color: #2c2c2c;
          }
        }

        &:hover{
          transition: border 0.2s;
          border: 1px solid #ddd;
        }
      }

      &.menu {
        display: none;
      }
      &.statTree{
        display: none;
      }
    }

    & > .searchBar {
      height: calc(100% - 2 * 1px);
      width: calc(100% - 2 * 1px);
      max-width: 340px;
      padding: 0 8px;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      background: #ffffff;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;


      display: none;

      & > input {
        border: none;
        outline: none;
        font-size: 11pt;
        font-weight: 600;
        width: 100%;
        color: #000;
        padding-bottom: 4px;
        background: transparent;
        transition: color 0.2s;

        &::placeholder {
          color: #aaa;
          font-weight: 400;
        }

        &:hover,
        &:active,
        &:focus {
          color: #15d1a2;
          transition: color 0.2s;
        }
      }
      & > .search-icon {
      }

      & > #search-list {
        top: $navHeight - 20px;
        left: 0;
        position: absolute;
        list-style-type: none;
        max-width: 1000px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        padding: 0;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        z-index: $zIndex-search-list;

        & > .searchItem {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px;
          background: #ffffff;
          z-index: 100;
          border-bottom: solid #eee 1px;
          width: calc(100% - 2 * 10px);
          cursor: pointer;
          &:hover,
          &:active {
            background: #eeeeee;
            & > .btn {
              background: $colorSecondary;
            }
          }

          & > img {
            border: 1px solid #eeeeee;
            height: 40px;
            width: 40px;
            border-radius: 2px;
            object-fit: cover;
            margin-right: 15px;
          }
          & > p {
            font-size: 12pt;
            color: #2c2c2c;
            font-weight: 500;
            margin: 0;
          }
          & > .btn {
            margin-left: auto;
            height: 30px;
            width: 30px;
            border-radius: 2px;
            background: $colorPrimary;
            display: flex;
            align-items: center;
            justify-content: center;
            & > i {
              font-size: 14pt;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}



@media #{$query-toggle-menu} {
  .NavBar {
    height: calc(#{$navHeight} - 2 * 10px - 1px);
    width: calc(100% - 2 * 5px);
    padding: 10px 5px;
    position: absolute;
    z-index: $zIndex-NavBar-mobile;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    & > .logo {
      display: none !important;
    }
    & > .body {
      height: 100%;
      & > .button {
        &.goBack {
          margin-right: 5px;
        }
        &.menu {
          display: flex;
          margin-left: 0;
          flex-shrink: 0;
          padding: 0 2px;
        }
        &.notifications{
          display: none;
        }

        &.returnToStation{
          padding: 12px;
          margin-left: 5px;
          flex-shrink: 0;
          & > i {
            color: $red;
            margin-right: 0;
          }
          & > .content{
            display: none;
          }

          &:hover{
            transition: border 0.2s;
            border: 1px solid #ddd;
          }
        }

        &.statTree {
          display: flex;
          margin-left: 5px;
          &.active{
            i{
              color: $red;
            }
          }
        }
      }
      & > .searchBar {
        margin-left: 5px;
        max-width: 100%;
        & > .search-icon {
          display: none;
        }
        & > #search-list {
          max-height: 400px;
          width: calc(100% - 2 * 10px);
          margin: 0 10px;
          position: fixed;
          top: $navHeight - 7px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
          & > .searchItem {
            padding: 7px;
            width: calc(100% - 2 * 7px);

            & > img {
              height: 30px;
              width: 30px;
              margin-right: 10px;
            }
            & > p {
              font-size: 10pt;
            }
            & > .btn {
              height: 30px;
              width: 30px;
              & > i {
                font-size: 12pt;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}



