@import "config";

.ScreenNotifications{
  width: calc(100% - 2 * 20px);
  height: calc(100% - 2 * 20px);
  padding: 20px;
  overflow-y: scroll;

  .sectionTitle{z-index: 1}

  .notificationsList{
    max-width: 1300px;
  }
}

.notificationsList {
  z-index: 0;
  width: 100%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  @keyframes notificationDismiss {
    0%{transform: translateX(0);opacity: 1;}
    40%{opacity: 0;transform: translateX(100px);}
    50%{transform: translateX(100px); margin-top: 0; opacity: 0;}
    100%{margin-top: -138px; opacity: 0;}

  }
   .notification-item {
    min-height: 80px;
    width: calc(100% - 2 * 10px);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
    border: 1px solid #eee;


    & > .header {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;
      & > .title{
        display: flex;
        flex-direction: column;
      }
      p {
        margin: 0;
        font-size: 11pt;
        color: #2c2c2c;
        font-weight: 600;
        span{
          color: $colorPrimary;
          font-weight: 300;
        }
      }

      & > .action {
        margin-left: auto;
        & > .button{
          @include medium-button(#ccc,#fff);
          &:hover, &:active{
            background: $red;
          }
        }
      }

    }
    & > .divider {
      height: 1px;
      width: 100%;
      background: #eeeeee;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    & > .notification-item-message {
      background: #ffffff;
      border: 1px solid #eeeeee;
      padding: 10px;
      border-radius: 2px;

      & > p {
        font-weight: 300;
        font-size: 10pt;
        color: #2c2c2c;
        margin: 0;
      }
    }



   &.notification-item-animation-leave {
     opacity: 1;
     transform: translateX(0);
   }

   &.notification-item-animation-leave.notification-item-animation-leave-active {
     opacity: 0.01;
     transform: translate(100px);
     transition: transform 300ms, opacity 300ms;
   }

   }

}

