@import "config";

.SideBar {
  margin: 0;
  position: absolute;
  right: 0;
  height: calc(100% - 2 * 15px);
  background: #ffffff;
  width: 270px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow-y: auto;

  .itemColors {
    color: #ababac;
  }
  .justItem.supplyStock > small > img {
    width: 50px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
  }

  .justItem.supplyStock {
    width: 200px;
  }

  & > .body {
    & > .description {
      & > .description-element {
        display: flex;
        & > .icon {
          width: 35px;
          display: flex;
          justify-content: flex-end;
          & > i {
            color: #333333;
            font-size: 14pt;
            transition: 0.2s color;
          }
        }
      }
    }
  }

  & > .buttons {
    & > .button {
      @include big-button;
    }
  }
}

.SideBar > img {
  max-width: 280px;
}
