@import "config";

.SideBar {
  margin: 0;
  right: 0;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: $sideBarWidth;
  transform: translateX(500px);
  transition: transform 0.3s;
  will-change: transform;
  display: flex;
  flex-direction: column;



  &.placeholder{
    & > .inner {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      width: 100%;
      & > .image {
        width: 100%;
        height: 160px;
        background: #eee;
      }
      & > .breadcrumbs{
        width: 100%;
        height: 60px;
        margin: 10px 10px 40px;
        border-radius: 4px;
        background: #f5f5f5;
      }
      & > .data{
        margin: 10px;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background: #f5f5f5;
      }
    }
  }
  &.active {
    transform: translateX(0);
    transition: transform 0.3s;
    will-change: transform;
  }
  &.hideMeForever{
    transform: translateX(500px);
    transition: transform 0s !important;
    will-change: transform;

  }

  & > .inner {
    height: 100%;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & > * {
      flex-shrink: 0;
    }


    & > .preHeader{
      display: none;
      height: $navHeight;
      width: calc(100% - 2 * 10px);
      padding:  0 10px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      & > .button {
        display: flex !important;
        margin-right: auto;
        &.menu{
          background: #fff;
          height: 50px;
          width: 50px;
          border: 1px solid #eeeeee;
          box-sizing: border-box;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
          cursor: pointer;
          transition: background 0.2s;
          position: relative;
          & > i{
            color: $red;
          }

          &:hover, &:active{
            background: #f5f5f5;
            transition: background 0.2s;
          }
        }
      }
    }
    & > .header{
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eeeeee;
      & > *{flex-shrink: 0}
      & > .image{
        width: 100%;
        height: 160px;

        & > img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }


      & > .breadcrumbs{
        padding: 15px 15px 0 15px;
      }
    }
    & > .wrapper {
      width: 100%;
      flex: 1;
      & > .main {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        width: calc(100% - 2 * 15px);
        padding: 0 15px;

        & > .sectionTitle {
          grid-column: span 2;
          margin-bottom: 15px;
          margin-top: 15px;

          & > i {
            font-size: 14pt;
          }
        }

        & > .box {
          width: 100%;
          height: 70px;
          border: 1px solid #eeeeee;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 15px;

          & > p {
            color: #ddd;
            font-size: 30pt;
            font-weight: 300;
            margin: 0;
          }

          & > span {
            font-size: 12pt;
            margin-left: 10px;
            font-weight: 500;
            color: #ddd;
          }
        }

        & > .data {
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          &.warn {
            & > p {
              color: $red;
            }
          }

          &.notifications {
            & > span {
              margin-right: 6px;
            }

            & > .button {
              padding: 2px 12px;
              border-radius: 4px;
              border: 1px solid #eeeeee;
              transition: background 0.2s;
              cursor: pointer;
              background: #fafafa;

              & > span {
                text-align: center;
                font-size: 10pt;
                color: #2c2c2c;
                font-weight: 400;
              }

              &:hover, &:active {
                background: #f5f5f5;
                transition: background 0.2s;
              }
            }
          }

          & > i {
            font-size: 14pt;
            color: #2c2c2c;
            margin-right: 6px;
          }

          & > span {
            font-weight: 300;
            font-size: 10pt;
            color: #2c2c2c;
            margin-right: 2px;

          }

          & > p {
            margin: 0;
            font-weight: 600;
            font-size: 10pt;
            color: #2c2c2c;
          }
        }

        & > .actions {
          margin-bottom: 15px;
          grid-column: span 2;
          margin-top: 10px;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 1fr 1fr;

          & > .button {

            grid-column: span 1;

            &.refill {
              @include medium-button($colorPrimary, #ffffff);
              grid-column: span 2;
              width: calc(100% - 2 * 15px);
              padding: 25px 15px;

              & > .content > p {
                font-size: 12pt
              }
            }

            &.edit {
              @include medium-button(#4c4c4c, #ffffff);
              width: calc(100% - 2 * 5px);
              padding: 20px 5px;

              & > .content > p {
                font-size: 12pt
              }
            }

            &.clear {
              @include medium-button(#eeeeee, #4c4c4c);
              width: calc(100% - 2 * 5px);
              padding: 20px 5px;

              & > .content > p {
                font-size: 12pt
              }
            }

            &.statistics {
              @include medium-button($statistic, #4c4c4c);
              grid-column: span 2;
              width: calc(100% - 2 * 5px);
              padding: 10px 5px;

              & > .content > p {
                font-size: 12pt
              }

            }
          }
        }

      }
    }
  }
}


@media #{$query-toggle-menu} {
  .SideBar {
    transition: transform 0.2s;
    &.active {
      &:before {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: -10%;
        top: 0;
        background: black;
        opacity: 0;
      }
    }
    &.placeholder {
      box-shadow: -10px 0 30px rgba(0, 0, 0, 0.2);
      & > .inner {
        padding-top: $navHeight;
      }
    }

    & > .inner{
      box-shadow: -10px 0 30px rgba(0, 0, 0, 0.2);
      & > .preHeader{
        display: flex;
      }
      & > .wrapper{
        & > .main{
          & > .actions{
            padding-bottom: 10px;
            &  > .button{
              padding-top: 20px !important;
              padding-bottom: 20px !important;
            }
          }
        }
      }
    }
  }
}

