@import "config";

/**
---------------
STATION LIST
---------------
 */


.StationList{
  max-width: 1200px;
  padding: 20px;
  flex: 1;

  & > .stationFloor{
    width: 100%;
    margin-bottom: 20px;

    & > .stationFloorInfo{
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      & > .floorID{
        margin-right: 7px;
        color: $colorPrimary;
      }
      & > .numberOfStations{
        color: #2c2c2c;
      }
    }

    & > .stationFloorList {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }



    @media all and (max-width: 1190px){
      & > .stationFloorList{
        grid-template-columns: 1fr 1fr;
      }
    }

    @media #{$top-mobile-big}{
      & > .stationFloorList {
        grid-template-columns: 1fr;
      }
    }

  }


}



/**
---------------
STATION CARD
---------------
 */



.StationCard {
  grid-column: span 1;
  display: flex;
  text-decoration: none;
  color: black;
  background: #ffffff;
  border: solid #eeeeee 1px;
  border-radius: $stationBorderRadius;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  height: 170px;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s, border 0.2s;
  &:hover, &:active {
    background: #f9f9f9;
    border: 1px solid $colorSecondary;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.09);
    transition: background 0.2s, box-shadow 0.2s, border 0.2s;
    & > .body > .button {
      background: $colorSecondary;
      transition: background 0.2s;
    }
  }

  &.warn{
    & > .body{
      & > .title{
        & > .icon{
          & > i{
            background: $red;
          }
        }
      }
    }
  }



  p {
    margin: 0;
  }

  & > .image {
    height: 100%;
    flex: 0.35;
    border-radius: $stationBorderRadius - 1 0 0 $stationBorderRadius - 1;
    overflow: hidden;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  & > .body {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    height: calc(100% - 10px);
    padding: 10px 0 0 10px;

    & > .title {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      transition: border-bottom 0.2s;

      & > .icon {
        margin-right: 10px;
        i {
          background: $colorPrimary;
          color: #ffffff;
          padding: 5px;
          border-radius: 4px;
        }
      }
      & > p {
        font-size: 14pt;
        color: #2c2c2c;
        font-weight: 600;
      }
    }
    & > .info {
      flex: 1;
      padding-right: 10px;
      p {
        font-size: 11pt;
        color: #aaa;
        font-weight: 200;
      }
    }
    & > .button {
      margin-left: auto;
      border-radius: $stationBorderRadius 0 $stationBorderRadius - 1 0;
      padding: 10px 20px;
      background: $colorPrimary;
      transition: background 0.2s;
      &.mini{
        display: none;
      }
      p {
        font-weight: 700;
        font-size: 10pt;
        color: white;
        text-align: center;
      }
      i {
        font-size: 12pt;
        color: white;
        line-height: 0;
        height: 18px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}







/**
---------------
STATION PROFILE
---------------
 */

.StationProfileContainer{
  height: 100%;
}

.StationProfile{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  & > *{
    flex-shrink: 0;
  }



  & > .header{
    width: calc(100% - 2 * 20px);
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 0 5px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    height: 230px;
    z-index: 4;

    & > .breadcrumbs{
      height: 30px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      opacity: 1;
      transition: opacity 0.2s;
      p{
        font-size: 12pt;
        margin: 0;
      }
      i{
        font-size: 18pt;
        margin: 2px 0 0 0;
        color: $colorPrimary;
      }

      & > p{
        margin: 0;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }


      & > div{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        & > i{
          color: $colorPrimary;
          font-size: 14pt;
          line-height: 0.5;
        }
        & > p{
          padding: 0;
          margin: 0;
        }

        &:hover{
          & > p{
            text-decoration: underline;
          }
        }

        &:last-of-type{
          & > p{
            text-decoration: none !important;
            color: $colorPrimary;
          }
        }
      }

    }

    & > .inner{
      max-width: 1100px;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      height: 180px;

      & > .image{
        margin-right: 20px;
        height: 100%;
        width: 180px;
        max-width: 180px;
        max-height: 180px;
        min-width: 40px;
        min-height: 40px;
        border-radius: 6px;
        overflow: hidden;
        & > img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      & > .info{
        height: calc(100%);
        flex: 1;
        padding: 0;
        display: flex;
        flex-direction: column;
        & > .title{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          & > .icon{
            margin-right: 10px;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: $colorPrimary;
            &.warn{
              background: $red;
            }
            i{
              font-size: 18pt;
              color: #ffffff;

            }
          }
          & > p{
            flex: 1;
            font-size: 16pt;
            font-weight: 700;
            color: #2c2c2c;
            margin: 0;
          }
        }
        & > .description{
          flex: 1;
          max-width: 300px;
          p{
            margin: 0;
            font-size: 11pt;
            color: #aaa;
            font-weight: 300;
          }

        }
        & > .data{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          & > .itemCount{
            display: flex;
            align-items: center;
            color: $colorPrimary;
            margin-bottom: 12px;
            & > i{
              margin-right: 5px;
            }
          }

          & > .actions{
            height: 100%;
            align-items: flex-end;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            flex-direction: row;
            & > .returnButton{
              @include medium-button(#eeeeee, #4c4c4c);

            }
            & > .viewButton{
              @include medium-button($statistic, #4c4c4c);

            }
          }

        }

      }

    }

  }



  & > .itemTree{
    max-width: calc(100%  - 2 * 20px - #{$sideBarWidth} - 10px);
  }
}


.sectionTitle{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  & > i{
    color: #2c2c2c;
    font-size: 18pt;
    margin-right: 6px;
  }
  & > p{
    color: #2c2c2c;
    font-size: 14pt;
    font-weight: 700;
  }
}

.itemTree{
  max-width: calc(100%  - 2 * 20px - #{$sideBarWidth} - 10px);
  width: calc(100% - 2 * 20px);
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  & > *{
    flex-shrink: 0;
  }
}



/**
---------------
STATION INDICATOR
---------------
 */


.StationIndicator{
  grid-column: span 1;
  display: flex;
  flex-direction: column;

  transform: scale(1);
  will-change: transform;
  transition: transform 0.15s;
  cursor: pointer;

  &.warn{
    & > .icon{
      background: $red;
    }
  }
  &:hover, &:active{
    & > .indicator{
      opacity: 0.2;
      transition: opacity 0.2s;
    }
  }
  &.active{
    will-change: transform;
    transition: transform 0.15s;
    cursor: pointer;
    & > .icon{
      box-shadow: 0 5px 10px rgba(0,0,0,0.09);
      transition: box-shadow 0.2s;
      & > i{
        color: darken($colorPrimary, 30%);
        transition: color 0.2s;
      }
    }
    & > .title{
      & > p{
        color: #2c2c2c;
        transition: color 0.2s;
      }
    }
    & > .indicator{
      opacity: 1;
      transition: opacity 0.2s;
    }

    &.warn{
      & > .icon{
        & > i{
          color: darken($red, 30%);
          transition: color 0.2s;
        }
      }
    }
  }

  & > .icon{
    background: $colorPrimary;
    height: $stationIndicatorWidth;
    width: $stationIndicatorWidth;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: box-shadow 0.2s;
    & > i{
      font-size: 20pt;
      color: #ffffff;
      transition: color 0.2s;
    }
  }
  & > .floor{
    & > p{
      color: #aaaaaa;
      font-size: 10pt;
      font-weight: 600;
      text-align: center;
      margin: 0;
    }
  }

  & > .title{
    & > p{
      color: #aaa;
      font-size: 14pt;
      font-weight: 600;
      text-align: center;
      margin: 0;
      transition: color 0.2s;
    }
  }

  & > .indicator{
    height: 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;

    & > i{
      font-size: 20pt;
      color: #2c2c2c;
    }
  }


}