@import "config";
.ScreenStatistics{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  & > .main{
    flex: 1;
    height: calc(100% - 2 * 20px);
    width: calc(100% - 2 * 20px);
    padding: 20px;

    & > .header{
      & > .sectionTitle{}
      &  > .stationList{
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: repeat(auto-fill, $stationIndicatorWidth);
        margin-bottom: 30px;
      }
    }

    & > .content{
      & > .tabs{
        & > .header{
          display: grid;
          grid-column-gap: 10px;
          grid-template-columns: repeat(auto-fill, 220px);
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #eee;

          .SupplyTab{
            cursor: pointer;
            grid-column: span 1;
            border-radius: 4px;
            padding: 18px 40px 18px 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.05);
            background: #ffffff;
            border: 1px solid #eeeeee;
            transition: border 0.2s, box-shadow 0.2s, background 0.2s;

            &.active{
              background: $statistic;
              border:1px solid $statistic;
              box-shadow: 0 5px 10px rgba(0,0,0,0.09);
              transition: border 0.2s, box-shadow 0.2s, background 0.2s;
            }
            &:not(.active):hover, &:not(.active):active{
              border: 1px solid #ddd;
              box-shadow: 0 5px 10px rgba(0,0,0,0.09);
              transition: border 0.2s, box-shadow 0.2s, background 0.2s;
            }

            & > .content{
              display: flex;
              flex-direction: row;
              align-items: center;
              & > .icon{
                min-width: 20px;
                & > i{
                  font-size: 14pt;
                  color: #2c2c2c;
                }

              }
              & > .title{
                flex: 1;
                & > p{
                  font-size: 10pt;
                  color: #2c2c2c;
                  font-weight: 700;text-align: center;
                  text-transform: capitalize;
                  margin: 0;
                }
              }
            }
          }
        }
        & > .content{

        }
      }
    }
  }

  .SideBarStatistics{
    height: 100%;
    width: $sideBarWidth;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right:  0;
    transition: margin-right 0.3s;
    will-change: margin-right;

    &.collapsed {
      margin-right:  - $sideBarWidth;
      transition: margin-right 0.3s;
      will-change: margin-right;

      & > .toggleButton {
        & > .icon {
          background: $colorPrimary;
          transition: background 0.3s;
          & > i {
            color: #ffffff;
            transform: rotate(180deg);
            transition: transform 0.3s, color 0.3s;
            will-change: transform;
          }
          &:hover{
            background: darken($colorPrimary, 10%);
            transition: background 0.2s;
            &> i{
              color: #ffffff;
              transition: color 0.2s;
            }
          }
        }
      }
    }


    & > .toggleButton{
      position: absolute;
      top: 0;
      left: -52px;
      width: 50px;
      height: 50px;
      border-radius: 2px 0 0 2px;
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      z-index: 1;
      border: 1px solid #eeeeee;
      border-top: none;
      & > .icon{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9f9f9;
        user-select: none;
        cursor: pointer;
        transition: background 0.2s;
        & > i{
          color: $colorPrimary;
          transition:  transform 0.3s, color 0.2s;
          will-change: transform;
        }
        &:hover{
          background: #f5f5f5;
          transition: background 0.2s;
          &> i{
            color: darken($colorPrimary,10%);
            transition: color 0.2s;
          }
        }
      }
    }
    & > .inner{
      height: calc(100% - 2 * 15px);
      width: calc(100% - 15px - 10px);
      padding: 10px 15px 15px;
      background: #ffffff;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.08);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      position: relative;

      & > .itemTree{
        padding: 0;
        width: 100%;
        max-width: 100%;
      }
    }
  }

}

@media #{$top-tablet-big} {
  .ScreenStatistics {

    & > .main{
      height: calc(100% - 2 * 10px);
      width: calc(100% - 2 * 10px);
      padding: 10px;
      & > .header{
        & > .sectionTitle{}
        &  > .stationList{
          display: grid;
          grid-column-gap: 7px;
          grid-template-columns: repeat(auto-fill, $stationIndicatorWidthMobile);
          margin-bottom:10px;
        }
      }

      & > .content{
        & > .tabs{
          & > .header{
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 20px;


            .SupplyTab{
              cursor: pointer;
              grid-column: span 1;
              border-radius: 4px;
              padding: 10px 10px 10px 10px;
              box-shadow: 0 0 5px rgba(0,0,0,0.05);
              background: #ffffff;
              border: 1px solid #eeeeee;
              transition: border 0.2s, box-shadow 0.2s, background 0.2s;

              &.active{
                background: $statistic;
                border:1px solid $statistic;
                box-shadow: 0 5px 10px rgba(0,0,0,0.09);
                transition: border 0.2s, box-shadow 0.2s, background 0.2s;
              }
              &:not(.active):hover, &:not(.active):active{
                border: 1px solid #ddd;
                box-shadow: 0 5px 10px rgba(0,0,0,0.09);
                transition: border 0.2s, box-shadow 0.2s, background 0.2s;
              }

              & > .content{
                display: flex;
                flex-direction: row;
                align-items: center;
                & > .icon{
                  min-width: 20px;
                  & > i{
                    line-height: 1.4;
                  }

                }
                & > .title{
                  flex: 1;
                  & > p{
                    font-size: 10pt;
                    color: #2c2c2c;
                    font-weight: 700;text-align: center;
                    text-transform: capitalize;
                    margin: 0;
                  }
                }
              }
            }
          }
          & > .content{

          }
        }
      }
    }

    .SideBarStatistics {
      margin-right: 0;
      width: 95%;
      right: 0;
      position: absolute;
      transition: right 0.3s;
      will-change: right;

      &.collapsed{
        margin-right: 0;
        right:  - 95%;
        transition: right 0.3s;
        will-change: right;
        &:before {
          content: ' ';
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: -1;
          left: -10%;
          top: 0;
          background: black;
          opacity: 0;
        }
        & > .toggleButton {
          display: none;
        }
        & > .inner{
          box-shadow: none;
        }
      }


      & > .toggleButton {
        display: none;
      }

      & > .inner {
        height: calc(100% - 2 * 15px);
        width: calc(100% - 15px - 10px);
        padding: 10px 15px 15px;
        background: #ffffff;
        box-shadow: -40px 0 80px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        position: relative;

        & > .itemTree {
          padding: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
