.supplyButtons {
  //for div
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.supplyStations {
  display: flex;
}

.supplyStation {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
}

.supplyStation > .material-icons {
  font-size: 40px;
}

.underStation {
  bottom: 12px;
  position: relative;
}

.supplyButtons > small {
  margin-right: 20px;
  align-self: center;
}

.supplyButton {
  //for small
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: solid gray 1px;
}
